.custom-table {
  border: 1px solid #dee2e6;
  border-radius: 8px; /* Asegúrate de que este valor esté presente */
  border-collapse: collapse; /* Mantén 'collapse' para los bordes de celdas */
  width: 100%;
  overflow: hidden; /* Asegura que las esquinas redondeadas no se vean cortadas */
}

.custom-table th,
.custom-table td {
  border: none; /* Elimina los bordes internos de las celdas */
  padding: 8px; /* Añade espacio dentro de las celdas */
}

.custom-table tbody tr {
  border-bottom: 1px solid #dee2e6; /* Borde inferior para cada fila */
}

.custom-table tbody tr:last-child {
  border-bottom: none; /* Elimina el borde de la última fila */
}